<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Shapes features" parallel="methods" thread-count="3">

    <test name="ShapesTest">
        <classes>
            <class name="shapestests.TriangleTest"/>
            <class name="shapestests.RectangleTest"/>
        </classes>

    </test>
</suite>